h1 {
    text-align: center;
}

@media (min-width: 768px) {
    .um {
        text-align: center;
    }
    .dois{
        display: flex;
        justify-content: space-around;
        background-color: darkgreen;

    }
    .tres{
        text-align: center;
        background-color: blueviolet;
    }
}

@media (min-width: 1024px) {
    .um {
        display: flex;
        justify-content: space-around;
        background-color:aqua;
    }
    .dois{
        
        justify-content: space-around;
        background-color:antiquewhite;

    }
    .tres{
        background-color:darkred;
    }
   
}
